# Node modules
/blogger-frontend/node_modules
/blogger-frontend/.angular

# Compiled output
/blogger-frontend/dist
/blogger-frontend/tmp

# Maven build files
/blogger-backend/target/
*.jar
*.war

# IDE files
.idea/
.vscode/
*.iml

# Environment specific
/blogger/src/main/resources/application-prod.properties

# Logs
*.log

# System files
.DS_Store
Thumbs.db