.blog-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #3f51b5;
  }
  
  .blog-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .blog-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }

  mat-card{
    color:white;
  }
  
  .no-blogs {
    text-align: center;
    margin: 40px 0;
    font-size: 1.1rem;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }